.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

}

.bodyBack {
  width: 100%;
  height: 100vh;
  background-image: url(images/home-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}


.bodyFront {
  position: relative;
  margin-top: -100vh;
}

a:hover, a:visited, a:link, a:active {
  text-decoration: none;
}

.bodyHeadingText {
  font-size: 50px;
  color: black;
  padding-top: 1%;
}

.serviceCategoriesContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 4%;
}

.serviceCategoryBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.serviceCategoryIcon {
  height: 170px;
  width: 170px;
}

.serviceCategoryName {
  font-size: 20px;
  color: #F2C70F;
  margin-top: 0;
}

.logInBody {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logInLogo {
  width: 50%;
  align-items: center;
}

.logInForm {
}

.companyCategoriesContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 4%;
}

.companyCategoryBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#logInButton {
  width: 50%;
  height: 30px;
  margin-top: 20px;
  background-color: #F2C70F;
  border: 1px solid black;;
  border-radius: 6px;
  color: black;
  font-weight: bold;
}

#signUpButton {
  width: 50%;
  height: 30px;
  margin-top: 10px;
  background-color: #F2C70F;
  border: 1px solid black;;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  align-items: center;
}

#signUpButton_1 {
  width: 50%;
  height: 30px;
  margin-top: 10px;
  background-color: #F2C70F;
  border: 1px solid black;;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  align-items: center;
}

#forgotPassword {
  margin-top: 10px;
  border: none;
  background: none;
  justify-content: center;
  align-content: center;
  /* height: ;
  width: ; */
  background-color: transparent;
  border-color: transparent;
}

.arrowButton {
  height: 80px;
  width: 80px;
  align-self: center;
  background-color: transparent;
  border-color: transparent;
}

.arrowImg {
  height: 100%;
  width: 100%;
}

.currentCompanyBox {
  display: flex;
  justify-content: center;
  align-content: center;
  background-color: transparent;
  border-color: transparent;
}

.companyLogo {
  height: 200px;
  width: 200px;
}

.companyCategoryName {
  font-size: 30px;
  color: black;
  margin-top: 0;
}

.SPHeader {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.SPLogo {
  margin-left: 30px;
  border: 1px solid black;
}

.SPInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.SPName {
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 5px;
}

.SPLocation {
  margin-left: 10px;
  text-align: left;
  font-size: 25px;
  margin-bottom: 5px;
}

.SPType {
  margin-left: 10px;
  text-align: left;
  font-size: 20px;
  margin-bottom: 5px;
  color: #F2C70F;
}

.SPCredentials {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
  margin-top: 15px;
}

.SPBadge {
  height: 40px;
}

.SPBadgeText {
  text-align: center;
  margin-right: 40px;
  margin-left: 10px;
  position: relative;
  top: 10px;
  color: #F2C70F;
  font-weight: bold;
  font-size: 20px;
}

.SPTopBar {
  margin-left: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: auto;
  height: 50px;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.SPSideBarBox {
  width: auto;
  font-weight: bold;
  color: black;
  text-align: center;
  margin-left: 5px;
  margin-top: 10px;
  margin-right: 15px;
}

.SPSideBarBox:hover{
  cursor: pointer;
}

#bottomBorder {
  border-top: 1px solid black;
  margin-left: 5px;
  width: 220px;
  margin-bottom: 5px;
}

.SPAboutBody {
  width: 100%;
  height: auto;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

.SPAboutIcons {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.aboutIcon {
  height: 40px;
  margin-bottom: 10px;
}

.iconAlignment {
  display: flex;
  flex-direction: row;
}

.iconDescription {
  margin-left: 10px;
  margin-top: 12px;
  min-width: 120px;
  text-align: left;
}

.SPAboutDescription {
  min-width: 500px;
  text-align: left;
  margin-left: 40px;
  margin-right: 25px;
}

.SPAboutCoverPhoto {
  width: 95%;
  border: 1px solid black;
  margin: 0 auto;
  min-width: 95%;
  height: 200px;
  margin-top: 10px;
}

.SPProjectsTable {
  width: 95%;
  margin-left: 30px;
  margin-right: 30px;
}

td {
  text-align: center;
  padding: 8px;
}

th {
  border: 1px solid black;
  height: 30px;
  background-color: #F2C70F;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.SPPreviousClientsTable {
  width: 95%;
  margin-left: 30px;
  margin-right: 30px;
}

.SPLicensesAndCertificationsGrid {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
  width: 95%;
  margin: 0 auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  height: 150px;
  text-align: center;
}

.SPQualificationsBody {
  width: 90%;
  margin-left: 20px;
  text-align: left;
}

.SPQualificationsTable {
  width: 95%;
  margin-left: 30px;
  margin-right: 30px;
}

.SearchBody {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}

.SearchBodyLeft {
  width: 40%;
  height: auto;
  min-width: 375px;
}

.SearchBodyRight {
  width: 60%;
  margin-right: 20px;
  position: relative;
  top: 55px;
}

.SearchBodyRightContent {
  background-color: white;
  width: 100%;
  height: 120px;
  margin-bottom: 20px;
}

.SearchBodyLeftHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 40px;
  margin-right: 40px;
  font-size: 18px;
  min-width: 200px;
}

.SearchBodyLeftLine {
  border-top: 1px solid black;
  width: 90%;
  margin: 0 auto;
}

.SearchBodyLeftContent {
  height: 100px;
  float: right;
  width: 90%;
  margin-top: 10px;
}

.SearchBodyLeftContentHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 30px;
  font-size: 18px;
  min-width: 225px;
  position: relative;
  top: -10px;
}

.SearchBodyLeftDropDown {
  height: 50px;
  background-color: white;
  width: 95%;
  position: relative;
  top: -15px;
  min-width: 225px;
}

#servicesDropdown, #locationDropdown, #clientTypeDropdown, #employeesDropdown, #certificationsDropdown {
  float: left;
  position: relative;
  top: 15px;
  background-color: transparent;
  border: none;
  font-weight: bold;
  color: #F2C70F;
  font-size: 18px;
  width: 95%;
}

.SearchCredentialsDropdown {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.SearchPageBadge {
  height: 40px;
  position: relative;
  top: 5px;
}

.SearchPageBadgeText {
  text-align: center;
  margin-right: 40px;
  margin-left: 10px;
  position: relative;
  top: 12px;
  color: #F2C70F;
  font-weight: bold;
  font-size: 20px;
}

.SearchResults {
  display: flex;
  flex-direction: row;
}

.SearchResultsLogo {
  height: 90px;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
}

.SearchResultsInfo {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 10px;
  margin-top: 5px;
}

#SearchResultsInfoName {
  margin-top: 5px;
  margin-bottom: 0px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

#SearchResultsInfoLocation {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 17px;
  color: black;
}

#SearchResultsInfoService {
  margin-top: 0px;
  margin-bottom: 0px;
  color: #F2C70F;
  font-size: 15px;
}

.SearchResultsInfoBadges {
  display: flex;
  flex-direction: row;
}

.SearchResultsInfoBadge {
  height: 25px;
  margin-top: 5px;
  margin-right: 5px;
}