.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navigationBar {
  background-color: #E5E5E5;
  height: 100px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.navigationBarLogo {
  float: left;
  height: 70px;
  margin-top: 15px;
  margin-left: 30px;
}

.searchBar {
  position: relative;
  height: 50px;
  top: 25px;
  margin-left: 50px;
  width: 40%;
  border-radius: 60px;
  border: 1px solid black;
  background-color: red;
}

.userButtons {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 25px;
  height: 50px;
  margin-left: 50px;
  width: 8%;
}

.logInButton {
  background-color: #F2C70F;
  height: 25px;
  width: 100%;
  border: 1px solid black;;
  border-radius: 6px;
  color: black;
  font-weight: bold;
  margin-bottom: 5px;
}

.registerButton {
  background-color: black;
  height: 25px;
  width: 100%;
  border: none;
  border-radius: 6px;
  color: white;
  font-weight: bold;
}

.serviceProviderButton {
  background-color: white;
  width: 20%;
  position: relative;
  top: 25px;
  height: 50px;
  margin-left: 30px;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid black;
  font-size: 20px;
}

.homeBody {
  position: relative;
  background-image: url(images/home-background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  /* opacity: 0.50; */
  height: 100vh;
  width: 100%;
}

.homeHeadingText {
  font-size: 50px;
  padding-top: 40px;
}

.serviceCategoriesContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 75px;
}

.serviceCategoryBox {

}

.serviceCategoryIcon {

}

.serviceCategoryName {
  font-size: 20px;
  color: #F2C70F;
}

.companyCategoriesContainer {
  display: flex;
  justify-content: space-evenly;
  padding-top: 75px;
}

.companyCategoryBox {

}

.companyLogo {

}

.companyCategoryName {
  font-size: 30px;
}